[Unit]
Description=Gunicorn flask-entry app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project/cse546-project1/webtier    
ExecStart=/bin/gunicorn -b localhost:8000 flask-entry:app --log-file=/home/ubuntu/gunicorn.log -k gevent --worker-connections 1000
Restart=always
[Install]
WantedBy=multi-user.target
